.list-proposals .ant-table-container thead>tr>th {
  color: white;
  padding: 5px;
}
.list-proposals .ant-table-container tbody>tr>td:not(:last-child) {
  padding-right: 4px;
}

.list-proposals .ant-table-container tbody>tr>td>p {
  padding: 4px 10px;
}

.btn-my-proposal {
  background: $primary_light_color;
  border-radius: 7px;
  margin-top: 15px;
  margin-right: 10px;
  color: white;
  padding: 2px 15px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .list-proposal-mb {
    font-size: 10px;
    border-bottom: 1px solid $primary_light_color;
    width: 100%;

    &-box {
      width: 100vw;
      padding: 10px 15px;
    }

    &__col-1 {
      color: $primary_light_color;
    }
    &__col-2 {
      color: white;
      padding-right: 5px;
    }
    &__col-3 {
      color: $primary_light_color;
      padding-left: 5px;
    }
    &__col-4 {
      color: white;
    }

    &__btn-up {
      color: $green_color;
      border: 1.5px solid $green_color;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      width: 20px;
    }
    &__btn-down {
      color: $red_color;
      border: 1.5px solid $red_color;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      width: 20px;
    }

  }

  .list-proposals .ant-table-body {
    overflow-y: hidden !important;;
    max-height: max-content !important;
  }
}