$text-color: #6E7793;

.trade-box {
  margin-top: 5px;
  padding: 5px;
  height: 400px;

  &__content {
    @include border-grey;
    padding: 10px;
    height: 100%;
  }
}

.text-align {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

.trade__buy-box {
  border-right: 1px solid $text-color;
  padding-right: 10px;
}

.trade__sale-box {
  padding-left: 10px;
}

.trade__sub-box {
  color: $text-color;

  &>div {
    text-align: left;
  }

  &--title {
    text-align: left;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
  }
  &--field {
    &-buy{
      margin-bottom: 30px;
    }
    &-amount{
      margin-bottom: 15px;
    }
    &-total>div:first-child {
      padding-top: 10px
    }
  }
}

.btn{
  &-buy-currency,
  &-sale-currency{
    display: block;
    background-color: $green_color;
    width: 100%;
    margin: 15px auto;
    padding: 5px;
    border-radius: 20px;
    color: white;
  }

  &-buy-currency{
    background-color: $green_color;
  }
  &-sale-currency {
    background-color: $red_color;
  }
}

.list-btn-choose-amount {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .trade__buy-box {
    border: none;
    padding-right: 0;
  }

  .trade__sale-box {
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
  }

  .trade__sub-box{
    &--field-buy {
      margin-bottom: 17px;
    }

    &--field-amount{
      margin-bottom: 2px;
    }
  }

  .trade-box {
    margin: 0;
    height: 500px;
    background-color: $primary_dark_color;

    &__content {
      border: none;
    }
  }
}