.open-order {
  margin-top: 10px;
  height: 400px;
  padding: 0 5px;

  &__content {
    border: 1px solid $primary_light_color;
    height: 100%;
    padding: 10px;
  }
}

.open-order__search-box {
  display: flex;
  justify-content: flex-start;

  & > span {
    margin-right: 10px;
    white-space: nowrap;
  }
}

.search {
  &-label {
    font-size: 12px;
    color: $primary_light_color;

    &>span {
      //display: inline-block;
      margin-right: 5px;
    }
  }

  &-input {
    border: 1px solid $primary_light_color;
    color: $primary_light_color;
    border-radius: 15px;
    width: 100px;
    padding: 0 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .open-order {
    padding: 0;
    height: auto;
    font-size: 10px;

    &__content {
      border: none;
      padding: 10px;
    }

    &__mobile-row {
      padding: 5px 5px;
      border-bottom: 1px solid $primary_light_color;

      &--currency {
        font-size: 14px;
        font-weight: 500;
      }
      &--status {
        font-size: 13px;
        font-weight: 500;
        padding-right: 16px;
        text-align: left;
        &>p {
          margin-bottom: 5px;
        }
      }

      &--action {
        text-align: right;
        &>p:first-child {
          margin-bottom: 5px;
        }
      }
    }
    &__search-box {
      justify-content: space-between;
      &>span {
        margin: 0;
      }
    }
  }

  .search {
    &-input {
      font-size: 10px;
      width: 50px;
      padding-left: 5px;
    }
  }
}



