@mixin border-grey {
  border: 1px solid $primary_light_color;
}

.order-book {
  padding: 5px;
  height: 500px;

  &__content {
    @include border-grey;
    height: 100%;
    padding: 10px;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF
  }

  &__buy-and-sell {
    padding-right: 10px;
  }

  &__sell, &__buy {
    height: 45%;
  }

  &__history-table{
    padding-left: 10px;
  }

  &__current-price {
    background-color: $primary_dark_color;
    color: white;
    padding: 4px 0;
  }

  &__column {
    &--price {
      width: 30%;
    }
    &--amount {
      width: 30%;
    }
    &--volume {
      width: 40%;
    }
  }


  &__volume-value {
    //position: absolute;
    //z-index: 1000;
  }

  &__volume-mask {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;

    &-buy {
      background-color: rgba(21, 179, 113, 0.1);
    }

    &-sell{
      background: rgba(245, 86, 86, 0.1);
    }
  }
}

@media only screen and (max-width: 600px) {
  .order-book {
    margin: 0;

    &__content {
      border: none;
      background-color: $primary_dark_color;
      padding: 10px 5px;
    }

    &__buy-and-sell {
      padding-right: 0;
    }

    &__current-price {
      background-color: $primary_color;
      font-size: 12px;
    }
  }
}