@import "src/style/color";

.btn-oval {
  border: 1px solid $primary_light_color;
  padding: 0 2px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 3px;
  font-size: 10px;
  color: $primary_light_color;
  user-select: none;
  white-space: nowrap;
}

.btn-large {
  font-size: 12px;
  padding: 0 13px;
}

.btn-search {
  background-color: $primary_light_color;
  color: white;
}

.btn-cancel {
  font-size: 10px;
  padding: 0 10px;
}

.btn-yellow {
  color: $yellow_color;
  border-color: $yellow_color;
}

@media only screen and (max-width: 600px) {
  .btn-large {
    font-size: 10px;
    padding: 0 2px;
  }
}