@import "../../../style/variable";

/*Exchange Main Container*/
#exchangee {
  margin: 0 35px 18px 46px;
  border: 1px solid #394462;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 8px;
}

/*Trading View & Order Book container*/
.trading_Orderbook {
  // display: flex;
  // flex-direction: row;
  display: grid;
  
}

/*Trading View container*/
 .trading_View {
  max-width: 1144px;
  max-height: 831px;
  
}

/*Trading view navigation*/

.l_Navigation {
  border: 1px solid #394462;
  display: flex;
  max-width: 1144px;
  height: 40px;
  max-height: 40px;
  flex-wrap: nowrap;
  font-Size: 13px;
  display: flex;
}

.l_NavigationA {
  line-height: 33px;
  text-align: initial;
  flex: 8;
  font-style: normal;
  font-weight: normal;
}

.l_NavigationB {
  line-height: 33px;
  text-align: end;
  flex: 2;
  font-style: normal;
  font-weight: normal;
}


/*Graph & Toolbar*/
.l_GraphToolbar {
  display: flex;
  flex-direction: row;
}

.l_Toolbar {
  border: 1px solid #394462;
  flex: 0.5;
  list-style-type: none;
  flex-wrap: nowrap;
  min-width: 55px;
}

.l_ToolbarA {
  display: flex;
  flex-direction: column;
}

.l_Graph {
  border: 1px solid #394462;
  flex: 9.5;
}

/*Order Book container*/
.order_Book {
  border: 1px solid #394462;
  display: flex;
  max-width: 637px;
  max-height: 831px;
  flex: 4;
}

/*Open Order Ledger*/
.open_Order {
  border: 1px solid #394462;
}

/*Order Interface*/
.order_Interface {
  border: 1px solid #394462;
}






// .p_Profile {

//   background: #ffffff;
//   text-align: left;

//   .d_box {
//     padding: 0 $gap_3;

//     .btnContainer {
//       padding-top: $gap_2;
//       text-align: right;
//     }
//   }

//   .d_rightContainer {
//     border-left: 1px solid #e0e0e0;
//   }
// }

// .maxWidth {
//   width: 100% !important
// }

// .content-center {
//     text-align: center;
// }

// .content-center ul {
//     list-style-type: none;
// }

// .text-stat {
//     font-size: 1.4em;
// }

// .dashboard-rate-margin {
//     margin-top: 30px;
//     margin-bottom: 30px;
// }

// .defaultWidth{
//   width: 100%;
//   height: 40px;
// }

// .defaultPadding{
//   padding : 5px;
// }

// .text-center{
//   text-align: center !important;
// }
