/*Header container*/
#top_Header {
  display: grid;
  margin: 24px 40px;
  grid-template-columns: 6fr 4fr;
}

/*Header A*/
.a_Header {
  display: grid;
  grid-template-columns: 3fr 0.5fr 3.5fr 2.5fr 2fr 2.5fr 2.5fr 7fr;
  max-height: 40px;
  line-height: 15px;
}

.xlogo {
  max-width: 155px;
  max-height: 30px;
}

/*Index*/
.a_Index_top {
  font-size: 13px;
  max-width: 70px;
  max-height: 15px;
  color: #6e7793;
}

.a_Index_bottom {
  margin-top: 5px;
  display: flex;
  font-size: 13px;
  max-height: 15px;
  color: #ffffff;
}

.last_price {
  max-width: 165px;
  max-height: 35px;
}

.daily_change {
  max-width: 85px;
  max-height: 35px;
  margin-left: 20px;
}

.daily_change:first{
  margin-left: 33px;
}

/*Header B*/
.b_Header {
  display: grid;
   grid-template-columns: 5fr 5fr 0.7fr 2fr;
  max-height: 40px;
}

.exchange {
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
}

.language {
  line-height: 15px;
  font-size: 19px;
}