
* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: 'BinancePlex Regular', 'BinancePlex SemiBold', 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: $gap_2 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  padding: $gap_1 0;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* main layout */
html, body {
  margin: 0;
  padding: 0;

}

body {
  font-size: 14px;
}

td {
  &.fontWeight500 {
    font-weight: 500;
  }

  &.fontWeight600 {
    font-weight: 600;
  }

  .tableLink {

  }
}

#ebp-root {
  background: #E5E5E5;
  min-height: 100vh;

}

.pull-left {
  float: left;
}

.center {
  text-align: center !important;
}

.right-align {
  text-align: right !important;
}

.left-align {
  text-align: left !important;
}

.clearfix {
  clear: both;
}

.margin-bt-sm {
  margin-bottom: 10px;
}

.margin-bt-md {
  margin-bottom: 20px;
}

.margin-bt-lg {
  margin-bottom: 35px;
}

.vertical-center-item {
  display: flex;
  align-items: center;
}



.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
}