
.ant-layout-sider {
    flex: 0 0 280px !important;
    max-width: 280px !important;
    min-width: 200px !important;
    width: 280px !important;
    height: 100% !important;
}

.main-chat {
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    background: #150136;

    .title {
        margin-left: 10px;

        h5 {
            color: #fff;
        }
    }

    .list {
        height: 72%;
        overflow-y: auto;
        background: rgba(0, 0, 0, 0.55);
        padding-right: 0px;

        .ant-list-item {
            background: #2A1B1B;
            margin: 5px 10px;
            color: white;
            border: none;
            padding: 8px 10px;
        }

        .ant-list-item:last-child {
            border: none;
        }
    }

    .button-login {
        background: #9D0000;
        border: none;
        color: white;
        margin-top: 10px;
    }

    .editor {
        margin-top: 10px;
        margin-left: 10px;

        .chat-input {
            padding-right: 25px;
        }

        .input-chat-el {
            background: #110000;
            border: none;
            color: #fff;
        }

        .button-send {
            background: #9D0000;
            border: none;
            margin-right: 25px;
        }
    }
    .pull-right {
        margin-top: -10px !important;
    }

    .chat-close {
        cursor: pointer;
    }
}
