.footer {
    background: #082B5F;
    /*width: 100vw;*/
    height: 200px;
    color: #787e9e;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact {
    height: 75%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact__email, .contact__social, .contact__info {
    width: 20%;
    margin-top: 30px
}

.contact__email > a, .contact__info > a {
    color: #1890ff;
}

.contact__email {
}

.contact__social {
}

.contact__info {
}

.copy-right {
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 769px) {
    .footer {
        height: 50vh;
    }

    .contact {
        padding: 5px 20px;
        height: 75%;
        box-sizing: border-box;
        display: block;
        /*justify-content: center;*/
    }

    .contact__email, .contact__social, .contact__info {
        margin-bottom: 50px;
    }

    .copy-right {

    }
}