  .d_rowFooter {
    background: #252C3F;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .menu-sidebar ul li {
    color: #fff;
  }

  .ant-layout-sider {
    height: none !important
  }
